In [0]:
import pandas as pd
import numpy as np
from google.colab import drive

In [0]:
####Mount drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
### Load data
review_score=pd.read_csv("/content/drive/Shared drives/Chula Drive/Datasets/AnimeRec-w  review/reviews.csv")
anime=pd.read_csv("/content/drive/Shared drives/Chula Drive/Datasets/AnimeRec-w  review/animes.csv")

In [0]:
### drop unused data and change col name
anime=anime.drop(columns=["synopsis","genre","aired","episodes","members","popularity","ranked","score","img_url","link"])
anime=anime.rename(columns={"uid":"anime_uid"})

In [0]:
### we limit the uid that we want to analyse to less than 1000000 and drop the unused col
review_score=review_score.drop(index=np.where(review_score["uid"]>100000)[0],columns=["profile","text","scores","link"])

### we random value to split between train data and test data
random_value_for_train_data=np.random.rand(len(review_score)) < 0.80
train_score=review_score[random_value_for_train_data]
test_score=review_score[np.logical_not(random_value_for_train_data)]

In [0]:
train_score

          uid  anime_uid  score
3        8254       2904      9
5       10046       2904     10
8       23791       2904     10
9       25115       4181      4
23      86265       4181      9
...       ...        ...    ...
192073  29716        123      4
192074    362        123      9
192075    196        123      8
192076    391        123     10
192077   8582        123      9

[37893 rows x 3 columns]

In [0]:
### this box is to change the column name from unique id to the real anime name for us to see easier what have we got from the prediction

### we merge two dataframe with key is anime_uid
train_score_matrix=pd.merge(train_score,anime,on="anime_uid")
test_score_matrix=pd.merge(test_score,anime,on="anime_uid")

### we drop the uid so the only thing left is anime title so we then rename the title
train_score_matrix=train_score_matrix.drop(columns="anime_uid")
train_score_matrix=train_score_matrix.rename(columns={"title":"anime_name"})
test_score_matrix=test_score_matrix.drop(columns="anime_uid")
test_score_matrix=test_score_matrix.rename(columns={"title":"anime_name"})

In [0]:
### we then swap the user unique id to be the index instead of the old index and fill the NaN with 0
train_score_matrix=pd.pivot_table(train_score_matrix,values="score",index="uid",columns="anime_name",fill_value=0)
test_score_matrix=pd.pivot_table(test_score_matrix,values="score",index="uid",columns="anime_name",fill_value=0)

In [0]:
train_score_matrix.to_csv("/content/drive/Shared drives/Chula Drive/Datasets/AnimeRec-w  review/train_expli_matrix")
test_score_matrix.to_csv("/content/drive/Shared drives/Chula Drive/Datasets/AnimeRec-w  review/test_expli_matrix")